<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Finalassig"
        tools:targetApi="31">
        <activity
            android:name=".page24"
            android:exported="false" />
        <activity
            android:name=".page23"
            android:exported="false" />
        <activity
            android:name=".page22"
            android:exported="false" />
        <activity
            android:name=".page21"
            android:exported="false" />
        <activity
            android:name=".page20"
            android:exported="false" />
        <activity
            android:name=".page19"
            android:exported="false" />
        <activity
            android:name=".page18"
            android:exported="false" />
        <activity
            android:name=".page17"
            android:exported="false" />
        <activity
            android:name=".page16"
            android:exported="false" />
        <activity
            android:name=".page15"
            android:exported="false" />
        <activity
            android:name=".page14"
            android:exported="false" />
        <activity
            android:name=".page13"
            android:exported="false" />
        <activity
            android:name=".page12"
            android:exported="false" />
        <activity
            android:name=".page11"
            android:exported="false" />
        <activity
            android:name=".page10"
            android:exported="false" />
        <activity
            android:name=".page9"
            android:exported="false" />
        <activity
            android:name=".page8"
            android:exported="false" />
        <activity
            android:name=".page7"
            android:exported="false" />
        <activity
            android:name=".page6"
            android:exported="false" />
        <activity
            android:name=".page5"
            android:exported="false" />
        <activity
            android:name=".page4"
            android:exported="false" />
        <activity
            android:name=".page3"
            android:exported="false" />
        <activity
            android:name=".page2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>